.dashboard-container {
    display: grid;
    grid-template-columns: 250px auto;
    height: 100vh;
}

.sidebar {
    background-color: #f0f0f0;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin-bottom: 10px;
    cursor: pointer;
}

.main-content {
    padding: 20px;
    overflow: auto;
}


.sidebar .active {
    font-weight: bold;
}

h2 a:active {
    color: #ff0000;
    text-decoration: none;
}

h2 a {
    color: inherit;
    text-decoration: none;
}