.dashboard-container {
    display: grid;
    grid-template-columns: 250px auto; /* 250px for sidebar and the rest for main content */
    height: 100vh;
}

.sidebar {
    background-color: #f0f0f0; /* Light gray background */
    padding: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0; /* Ensures that there's no default margin */
}

.sidebar li {
    margin-bottom: 10px;
    cursor: pointer;
}

.main-content {
    padding: 20px;
    overflow: auto; /* In case the content overflows, it will be scrollable */
}

/* Add styling for NavLink active state */
.sidebar .active {
    font-weight: bold;
}

h2 a:active {
    color: #ff0000; /* Change this to the color you want when the link is clicked */
    text-decoration: none;
}

h2 a {
    color: inherit;
    text-decoration: none;
}